
#wheelbarrow {
  position: relative;
}

img[alt="Kitty 5"] + .kitty-1 {
  position: absolute;
  top: 60px;
  left: 100px;
}

img.kitty-1 + #kitty-2 {
  position: absolute;
  top: 120px;
  left: 200px;
}

#basket img {
  position: absolute;
  top: 180px;
  left: 50px;
}

#ball + img[alt="kitty 4"] {
  position: absolute;
  top: 260px;
  left: 300px;
}
